.edit-post {
	background-color: #3498db;
}

.remove-post {
	background-color: #e74c3c;
}

.navbar {
	margin-bottom: 0;
}

label {
	display: block;
}

body {
	padding: 0px;
	margin: 0px;
	background-image : url("../assets/images/geometry.png");
	background-repeat: repeat;
}